<html>
<head>
    <title>NO-MVC start page</title>
    <style>
        body {
            text-align: center;
        }
        .slogan {
            font-family: Verdana;
            color: #dd4444;
        }
    </style>
</head>
<body>

<header>
    <br>
    <h2 class="title">No-MVC</h2>
</header>
<main>
    <p class="slogan">A Simple PHP 7+ Framework for non-believers</p>
    <br>
    <strong>If you are seeing this page in your browser, then you have successfully installed and configured this
        framework!</strong>
</main>
<br>
<footer>
    <em>by <a href="http://atvsg.com">VSG24</a></em>
    <br>
    <small>
        Generated in
        {{ generated }}
        ms
    </small>
</footer>

</body>
</html>